@import "~materialize-css/dist/css/materialize.min.css";

input.white-input{
    border-bottom:1px solid #ffffff!important;
    box-shadow: 0 1px 0 0 #ffffff!important;
    color: white;
}

input.white-input+label{
    color: #ffffff!important;
}

